doctype html
html 
    head 
        // Adding a title to the html file
        title About us

        // Using of the CSS style 
        // Need to create a CSS file.
        link(rel="stylesheet", href="style.css")

        //Crating a multi line style
        style.
            p {
                color : Yellow;
                text-decoration: underline;
            }
 
    body 

        // Includes Statement | Including other Pug files
        h1 Company name
        nav
            a(href="index.html") Home
            a(href="about.html") About us
            a(href="index.html") Contact us
        
        h3 About Us