doctype html
html 
    head 
        // Adding a title to the html file
        title Learning PUG 
    body 
        // Creating an h1 header
        h1 Learning PUG 
        
        // Creating a multi-line paragraph
        p. 
            This is my large Paragraph 
            And I have more paragraph here
        h2 Welcome to PUG

        // Adding Divs with class and id names
        .mainDiv 
            #firstDiv.firstDiv
            #secondDiv.secondDiv